.form {
  width: 335px;
  margin: 0 auto;

  @include onDesktop {
    width: 518px;
    display: flex;
  }
}

.form__input {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  width: 100%;
  outline: none;
  height: 54px;
  padding: 16px 20px 17px;
  margin-bottom: 10px;
  border: 1px solid $black;

  &::placeholder {
    font: inherit;
    font-size: 14px;
    color: rgba ($black, 0.5);
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
  }

  @include onDesktop {
    margin-bottom: 0;
    height: 70px;
    padding: 23px 21px 23px;

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.form__button {
  border: none;
}
