.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  position: relative;
  z-index: 2;

  @include onDesktop {
    padding-top: 0;
  }
}

.page-header__logo img {
  display: block;
  width: 191px;
  height: 39px;
}

.page-header__open-btn {
  font-size: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  transition: all $duration;

  &:hover {
    color: $white;
    text-shadow: 2px 1px 2px $black;
  }

  @include onDesktop {
    display: none;
  }
}
