.product-info {
  padding-top: 83px;

  @include onTablet {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
  }

  @include onDesktop {
    padding-top: 206px;
    padding-bottom: 132px;
  }
}

.product-info__title {
  font-size: 30px;
  font-weight: 200;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 18px;

  @include onTablet {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 42px;
  }
}

.product-info__image {
  @include onTablet {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
  }

  @include onDesktop {
    left: 0;
    right: auto;
    z-index: -1;
  }
}

.product-info__img {
  margin: 0 auto;

  @include onDesktop {
    width: 837px;
    height: 765px;
    margin: 0;
  }
}

.product-info__rating {
  margin: 0 auto;
  margin-bottom: 11px;

  @include onTablet {
    margin-bottom: 25px;
  }
}

.product-info__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 12px;

  @include onTablet {
    margin-bottom: 21px;
  }
}

.product-info__price {
  margin: 0 auto;
  width: 208px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  span:first-of-type {
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba($black, 0.5);
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 68px;
      height: 1px;
      background-color: $black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  span:last-of-type {
    font-size: 30px;
    font-weight: 200;
    line-height: 45px;
    letter-spacing: 0em;
  }

  @include onTablet {
    margin-bottom: 28px;
    width: 251px;
  }
}

.product-info__wrapper {
  @include onTablet {
    position: relative;
    z-index: 2;
    width: 50%;
  }

  @include onDesktop {
    margin-left: auto;
    width: 442px;
    margin-right: 170px;
  }
}
