.promo {
  min-height: 723px;
  height: auto;
  padding-top: 384px;
  padding-bottom: 80px;
  background: $peachy-pink url("../img/promo-bg1-mb.png") no-repeat center bottom;
  background-size: 375px auto;

  @include onTablet {
    background: $peachy-pink;
    min-height: 880px;
    padding-top: 300px;
    padding-bottom: 0;
  }

  @include onDesktop {
    background-image: url("../img/promo-bg1-dt.png"), url("../img/promo-bg2-dt.png");
    background-size: 880px 775px, 100% 880px;
    background-repeat: no-repeat;
    background-position: left bottom, center center;
    padding-top: 279px;
    min-height: 880px;
  }
}

.promo__wrapper {
  text-align: center;

  @include onDesktop {
    margin-left: auto;
    width: 510px;
  }
}

.promo__slogan {
  font-size: 28px;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 10px;

  @include onTablet {
    font-size: 35px;
    line-height: 49px;
  }
}

.promo__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;

  @include onTablet {
    font-size: 20px;
    line-height: 30px;
  }

  @include onDesktop {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 388px;
  }
}
