.site-list__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: $black;
  transition: all $duration;

  &:hover {
    color: $white;
    text-shadow: 2px 1px 2px $black;
  }

  @include onTablet {
    font-size: 16px;
    transition: all $duration;

    &:hover {
      color: $brown;
      text-shadow: none;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 120%;
        height: 1px;
        background-color: $brown;
        left: 50%;
        transform: translateX(-50%);
        top: 130%;
      }
    }
  }
}

.site-list {
  width: 100%;
  display: grid;
  row-gap: 32px;

  @include onTablet {
    grid-template-columns: repeat(5, auto);
    justify-content: stretch;
    align-items: center;
    justify-items: center;
  }

  @include onDesktop {
    grid-template-columns: repeat(5, auto);
    width: 666px;
  }
}

/* .site-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: none;

  @include list;
  position: absolute;
  background-color: $white;
  width: 100%;
  z-index: 3;
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid $greyish-white;

  @include text-dec;
  @include center;
}

.site-list__link {
  @include font-Oswald(20px, 20px, 500);
  @include text-style($dark-grey1, uppercase);
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 441px;
    background: none;
    position: static;
  }

  .site-list__link {
    @include font-Oswald(18px, 25px, 400);
    @include text-style($dark-grey2, uppercase);
    transition-duration: 0.6s;
    transition-timing-function: ease;

    &[href] {
      @include link-text(0.6, 0.3);
    }

    &--active {
      border-bottom: 2px solid $leaf;
      padding-bottom: 7px;
    }
  }

  .site-list__item {
    padding: 0;
    border: none;
    margin-right: 35px;

    &:nth-of-type(3) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 480px;
  }

  .site-list__item {
    margin-right: 34px;

    &:nth-of-type(3) {
      margin-right: 0;
    }
  }

  .site-list__link {
    @include font-Oswald(20px, 25px, 400);
    @include text-style($dark-grey1, uppercase);
  }

  .site-list__link--main {
    @include text-style($white, uppercase);
  }

  .site-list__link--main.site-list__link--active {
    border-bottom: 2px solid $white;
  }
} */
