.tutorial-info {
  background-image: url("../img/tutorial-info-bg1-mb.png"), url("../img/tutorial-info-bg2-mb.png");
  background-size: 375px 328px, 100% 880px;
  background-repeat: no-repeat;
  background-position: center bottom, center center;
  min-height: 569px;
  padding-top: 64px;

  @include onDesktop {
    background: $peachy-pink url("../img/tutorial-info-bg-dt.jpg") no-repeat center center;
    background-size: cover;
    min-height: 740px;
    padding-top: 274px;
  }
}

.tutorial-info__text {
  font-size: 40px;
  font-weight: 200;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;

  @include onDesktop {
    font-size: 60px;
    line-height: 72px;
    color: $white;
  }
}
