.user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;

  @include onDesktop {
    width: auto;
  }
}

.user-list__item {
  @include onDesktop {
    &:first-of-type {
      display: none;
    }
  }
}
