$white: #ffffff;
$black: #000000;
$brown: #8a5137;
$peachy-pink: #fef6f3;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dppx: 1.5dppx;
$duration: 300ms;
$grey: #909090;
